body {
    font: 1em sans-serif;
    max-width: 700px;
    margin: 0 auto;
}

header,
footer {
    background-color: #404040;
    color: white;
    padding: 1px;
    text-align: center;
}

header {
    font-size: 1.5em;
    margin-top: 2px;
}

footer {
    margin-bottom: 2px;
}

main {
    margin: 0 auto;
    max-width: 350px;
}

main img {
    width: 100%;
    box-shadow: 0 0 39px grey;
}

main section {
    background-color: lightgray;
    padding: 15px;
    margin: 15px 0;
}

h1 {
    font-size: 1.75em;
    margin-bottom: 15px;
}

h2 {
    margin-top: 0;
    border-bottom: 1px solid black;
}

section p {
    margin-bottom: 0;
}

ul {
    padding-left: 20px;
}